
:root {
    --padsize: 50px;
    --h2fontsize: 30px;
}




.center {
    display: flex;    
    flex-direction: column;     
    
}





.one{
    display: flex;
    flex-direction: row;
    padding: var(--padsize)    
}

.oneitemone {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content:center;
   font-size: 50px;
}

.oneitemtwo {
    display: flex;
    flex: 1; 
    align-items: center;  
    justify-content: center;    
}

img {
    height: auto;
    width: 350px;
    border-radius: 10px;
}



.two{
    display: flex;
    flex-direction: row;
    padding: var(--padsize);    
}

.twoitemone {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: var(--h2fontsize);    
 }
 
 .twoitemtwo {
     display: flex;
     flex: 1;
     text-align: center;
     align-items: center;
     justify-content: center;
     border: 1px solid black;     
     border-radius: 5px;   
     background-color:papayawhip;
 }





.three{
    display: flex;
    flex-direction: row;   
    padding: var(--padsize)   
}

.threeitemone {
    display: flex;
    flex: 1;    
    align-items: center;
    justify-content: center;
    font-size: var(--h2fontsize);    
 }
 
 .threeitemtwo {
     display: flex;
     flex: 1;     
     align-items: center;
     justify-content: center;     
     border: 1px solid black;
     border-radius: 5px;  
     background-color:papayawhip; 
 }




.four{
    display: flex;
    flex-direction: row;
    padding: var(--padsize);    
}

.fouritemone {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: var(--h2fontsize);    
 }
 
 .fouritemtwo {
     display: flex;
     flex: 1;
     justify-content: center;
     border: 1px solid black;
     border-radius: 5px;   
     background-color:papayawhip;
 }



.five{
    display: flex;
    flex-direction: row;
    padding: var(--padsize)     
}

.fiveitemone {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: var(--h2fontsize);    
 }
 
 .fiveitemtwo {
     display: flex;
     flex: 1;
     border: 1px solid black;  
     border-radius: 5px;   
     background-color:papayawhip;
 }

